/* FLEXBOX FLEXBOX NANANANAH NANANANAH */

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap ;
    padding: 20px;
    justify-content: space-between;
};

.row {
    /* display: block; */
    padding: 10px;
    margin: 10px;
}

#header {
    display: inline-block;
    font-weight: bolder;
    color: white;
    background-color: slategray;    
    order: 0;
    padding: 10px;
    margin: 10px;
}

.item {
    order: 1; /* default is 0 */
  }

body {
    font-family: 'Open Sans', sans-serif;
    display: flex; /* or inline-flex */
    background-color: black;
}

.empCard {
    padding: 10px;
    margin: 10px;
    width: auto;
    background-color: orchid;
    border: 1px dashed black;
}

.footer {
    text-align: center;
    padding: 10px;
    padding-top: 60px;
    background-color: orchid;
}

h1 {
    font-weight: bolder;
    color: white;
    background-color: slategray;    
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.3em;
}

h6 {
    font-size: 1.2em;
}

